html, body {
  height: 100%;
  
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  
}

.container{
    background-image: url();
    height: 2150px;
    width: 1300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    

}
.Heading{
    
    width: 1300px;
    height: 86px;
    border: none;
    margin: none;
    background: #fc4a1a;  
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); 
    background: linear-gradient(to right, #f7b733, #fc4a1a);
}
img{
    width: 230px;
    height: 80px;
    margin-left: 20px;
    margin-top: 2px ;
}
.ak{
    font-family: 'Russo One', sans-serif;
    position: absolute;
    margin-left: 1160px;
    margin-top: 33px;
    color: whitesmoke;
    border-radius: 10%;
    font-size: 25px;
    font-weight: 800px;
    transition: all 0.5s ease;
    
}
.ak:hover{
  color: black;
  transform: scale(0.5);

}
.hihi:hover{
  color: black;
  width: auto;
}

.DarkGreen:hover{
  background-color: rgb(58, 57, 57);
}
.akk:hover{
  color: #f5af19;
}
.img1,.img2{
    height: 20px;
    width: 20px;
    border-radius: 30%;
    
}

.img1{
    margin-left: 730px;
    margin-bottom: 25px;
    transition: all 0.5s ease;
}
.img1:hover{
    margin-top: 15px;
}

.img2{
    margin-left: 890x;
    margin-top: 37px;
    position: absolute;
    transition: all 0.5s ease;

}
.img2:hover{
    transform: scale(1.1);
}

.image{
    position: absolute;
}
.hihi{
    position: absolute;
    margin-left: 1080px;
    margin-top: 33px;
    color: whitesmoke;
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    font-weight: 100px;
}
h2{
  position: absolute;
  margin-left: 260px;
  margin-top: 55px;
  color:black;
  font-family: 'Russo One', sans-serif;
  font-size: 15px;
  font-weight: 100px;
  font-style: italic;
  position: absolute;
}
.icon{
    position: absolute;
    margin-left: 940px;
    margin-top: 37px;

    

}
.dg{
display: flex;
}

.DarkGreen{
margin-top: 1px;
width: 399.9px;
height: 50px;
background-color: #fc4a1a;
margin-right:1px ;
margin-bottom: 900px;
border-top: 4px solid whitesmoke;
border-right: 4px solid whitesmoke;
border-bottom:4px solid #f1f1f1;
font-family: 'Russo One', sans-serif;
display: flex;
justify-content: center;
align-items: center;
}
.akk{
  color: #f1f1f1;
  transition: all 0.5s ease;
  
}
.Mainbox{
    width: 1299px;
    height: 626px;
    margin-bottom: 50px;
}
.ml15 {
font-weight: 800;
font-size: 50px;
letter-spacing: 0.2em;
}

.ml15 .word {
display: inline-block;
line-height: 1em;
}

.word{
    margin-top:120px;
    font-size: 30px;
    margin-left: 95px;
    position: absolute;
    color: white;
    font-family: 'Lobster', cursive;
    /* font-family: 'Piedra', cursive; */
    /* border: whitesmoke solid 5px; */
    padding: 10px;
    
}
.shoot{
    margin-top: 26px;
    margin-left: 0px;
    height: 650px;
    width: 1300px;

}
.sumus1{
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 350px;
    height: 200px;
    position: absolute;
    margin-top: 235px;
    margin-left: 280px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
   font-family: 'Piedra', cursive;
   border-radius: 30px;
   border: 5px solid whitesmoke;
}
.sumus2{
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 350px;
    height: 200px;
    position: absolute;
    margin-top: 455px;
    margin-left: 650px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    flex-wrap: wrap;
    font-family: 'Piedra', cursive;
    border-radius: 30px;
    border: 5px solid whitesmoke;
    
}
  
body {
    font-family: 'Russo One', sans-serif;
  }
  
  .flip-box {
    background-color: transparent;
    width: 350px;
    height: 200px;
    border: 5px solid #f1f1f1;
    perspective: 1000px;
    position: absolute;
    margin-left: 650px;
    margin-top: 235px;
    border-radius: 30px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front,  .flip-box-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
  }
  
  .flip-box-front{
    background-color: orangered;
    color: black;
  }
  
  .flip-box-back {
    background-color: orangered;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
  }
  .flip-box1 {
    background-color: transparent;
    width: 350px;
    height: 200px;
    border: 5px solid #f1f1f1;
    perspective: 1000px;
    position: absolute;
    margin-left: 280px;
    margin-top: 455px;
    border-radius: 30px;
  }
  .flip-box-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  .flip-box1:hover .flip-box-inner1 {
    transform: rotateY(180deg);
  }
  
  .flip-box-front1,  .flip-box-back1{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
  }
  
  .flip-box-front1{
    background-color: orangered;
    color: black;
  }
  
  .flip-box-back1 {
    background-color: orangered;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
  }
  .head{
    background-color: rgba(255, 102, 0, 0.911);
    margin-top: 10px;
    width: 1300px;
    height: 100px;
    font-family: 'Russo One', sans-serif;
    color: whitesmoke;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .quarter{
    background-color: rgba(255, 102, 0, 0.911);
    width: 500px;
    height: 480px;
    margin-top: 0px;
    margin-left: 390px;
    margin-bottom: 0px;
    color: whitesmoke;
    
    
  }

.foot{
  width: 1300px;
  height: 50px;
  background-color:rgba(255, 102, 0, 0.911) ;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sidebar1{
  width: 50px;
  height: 490px;
  background-color:rgba(255, 102, 0, 0.911) ;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
}
.sidebar2{
  width: 50px;
  height: 490px;
  background-color:rgba(255, 102, 0, 0.911) ;
  margin-left: 1250px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
}
.Pic1{
  width: 150px;
  height: 200px;
  position: absolute;
  margin-left: 60px;
  margin-top: 25px;
  border: solid 5px orange;
  border-radius: 10%;
}
.bg{
  background-image: url(https://thumbs.dreamstime.com/z/orange-square-illustration-white-background-business-website-presentation-colorful-150573434.jpg);
  
  
}
.ss1{
  color: orange;
  position: absolute;
  margin-left: 240px;
  margin-top: 125px;
  font-size: 30px ;

}
.filmintro{
  margin-top: 0px;
}
.Pic2{
  width: 150px;
  height: 200px;
  position: absolute;
  margin-left: 220px;
  margin-top: 250px;
  border: solid 5px orange;
  border-radius: 10%;
}
.Pic3{
  width: 150px;
  height: 200px;
  position: absolute;
  margin-left: 1080px;
  margin-top: 25px;
  border: solid 5px orange;
  border-radius: 10%;
}
.Pic4{
  width: 150px;
  height: 200px;
  position: absolute;
  margin-left: 900px;
  margin-top: 250px;
  border: solid 5px orange;
  border-radius: 10%;
}
.ss2{
  color: whitesmoke;
  position: absolute;
  margin-left: 60px;
  margin-top: 360px;
  font-size: 30px ;


}
.ss3{
  color: orange;
  position: absolute;
  margin-left: 920px;
  margin-top: 125px;
  font-size: 30px ;
}
.ss4{
  color: whitesmoke;
  position: absolute;
  margin-left: 1090px;
  margin-top: 360px;
  font-size: 30px ;
}
.thoai2{
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 20px;
}
.thoai1{
  margin-left: 20px;
  margin-right: 5px;
}
.thoai3{
  margin-top: 130px;
  margin-left: 20px;
  margin-right: 5px;
}
.thoai4{
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 20px;
}
.Manual1{
  margin-top: 30px;
  background-color: rgba(255, 102, 0, 0.911);
  width: 1000px;
  height: 80px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: whitesmoke;
  font-size: 50px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.Manual2{
  
  margin-top: 10px;
  border: 20px solid orangered;
  width: 1050px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 1300px;
  padding: 100px;
  padding-top: 27px;
}
.wordkk{
  font-size: 33px;
  color: orangered;
}
.Footer{
  width: 1300px;
  height: 200px;
  background: #fc4a1a;  
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a); 
  background: linear-gradient(to right, #f7b733, #fc4a1a);
  margin-bottom: 0px;

}
.footer{
  padding-top: 50px;
  padding-left: 20px;
  margin-top: 50px;
  font-size: 30px;
  color: whitesmoke;
  margin-left: 20px;
  
}
#countdown{
  color: whitesmoke;
  font-size: 20px;
  margin-left: 730px;
  margin-top: 120px;

  
}
.countdown{
  color: whitesmoke;
  font-size: 18px;
  margin-left: 780px;
  margin-top: 80px;
  position: absolute;
  
}

.imgg{
  margin-left: 700px;
  height: 200px;
  width: 600px;
  position: absolute;
  -webkit-mask-image: linear-gradient(to right, transparent 25%, black 70%);
  mask-image: linear-gradient(to right, transparent 25%, black 70%);}

  .footer2{
    padding-top: 60px;
    padding-left: 20px;
    margin-top: 50px;
    font-size: 30px;
    color: whitesmoke;
    margin-left: 20px;
    position: absolute;
    
  }
  html {
    scroll-behavior: smooth;
  }
  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  body{
   background-color: rgba(255, 246, 239, 0.959);
    
  }
